.btn {

    display: inline-block;
    padding: 15px 35px;
    background-color: #EB824D;
    border-radius: 30px;
    border: 0;
    color: #fff;
    cursor: pointer;

    &:hover {

        background-color: #F0AA87;
    }
}