html {

    font-size: 16px;
    height: 100%;
}

body {

    margin: 0;
    font-family: 'Tahoma';
    color: #232323;
    min-height: 100%;
    display: flex;
}

.section {

    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

#app {

    width: 100%;
    display: flex;
}

.container {

    width: 100%;
    padding-top: 70px;
    display: flex;
}