.list {

    .list__titles {

        padding-right: 80px;
        display: flex;
        margin-bottom: 5px;

        .list__title {

            flex-basis: 33.33%;
            text-transform: uppercase;
            color: #777777;
        }
    }

    .list__item {

        padding-right: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        position: relative;
        border-top: 1px solid #C6C6C6;
        border-bottom: 1px solid #C6C6C6;
        box-sizing: border-box;
        margin-bottom: 21px;

        &:last-child {

            margin-bottom: 0;
        }

        .list__item-part {

            flex-basis: 33.33%;
        }

        .list__item-btn {

            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            margin-top: -15px;
            right: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;

            &_edit {

                background: url('../imgs/list__item-btn_edit.svg') no-repeat center;
            }
        }
    }
}